.SMALLAD {
    max-width: 290px;
    max-height:  150px;
    margin: 0;
 }
 
 .BIGAD {
    max-width: 850px;
    max-height:  425px;
    margin: 0 auto;
  
 }
 
 .adMargins {
    margin-top: 50px;
    margin-bottom: 50px;
 }

 .allADS {
    width: 100%;
    padding: 0;
 }

 @media only screen and (max-width: 1200px) {
   .BIGAD {width: 95%;}
   .SMALLAD {max-width: 95%;}
}

 @media only screen and (max-width: 767px) {
    .BIGAD {width: 95%;}
    .SMALLAD {display: none !important;}
    .slick-track {display: inline !important;}
 }

 /* */