.SMALLAD {
    max-width: 100%;
    max-height:  150px;
    margin: 0 auto;
 }
 
 .BIGAD {
    max-width: 100%;
    max-height:  425px;
    margin: 0 auto;
  
 }
 
 .adMargins {
    margin-top: 50px;
    margin-bottom: 50px;
 }

 .allADS {
    width: 100%;
    padding: 0;
 }