.toimiPisteOtsikko {
    text-align: center;
    font-size: xx-large;
    color: #45A29E;
    font-family: 'Roboto';
   }
   
   
   .card-text {
       font-size: large;
       text-align: center;
       padding: 0.4rem 1.9rem;
         
   }
   
   .Card.Title {
       text-align: center;
       overflow: hidden;
   
   }
   
   .toimKuvat {
       max-width: 347px;
       max-height:  347px;
       overflow: hidden;
       min-width: 347px;
       min-height: 347px;
       vertical-align: middle;
   
   }

   .toimiPisteTeksti {
    font-family: 'Roboto';
   }
   
   
   
   
   