.cartText {
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
}

.cartTextCart {
    background-color: black;
    color: white;
}

.cartTuote {
    font-weight: bold;
}

.cartBtn {
    background-color: #66FCF1;
    border: 1px solid #66FCF1;
    color: black;
}

.cartBtn:hover {
    background-color: #45A29E;
    border: 1px solid #45A29E;
    color: white;
}

.cartBottomData {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.cartSteps {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px 0 10px 0;
}

.cartStepButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 13px;
    border-radius: 2px;
    width: 180px !important;
    height: 25px;
    user-select: none;
}

.cartStepButtonActive {
    background-color: #66FCF1;
}

.cartStepButton:hover {
    background-color: grey;
}

.cartNext {
    display: flex;
    justify-content: flex-end;
}

.cartLast {
    display: flex;
    justify-content: flex-start;
}

.cartLastNext {
    display: flex;
}

.cartForms {
    border: black solid 1px;
    border-radius: 5px;
}

.paymentCart {
    width: 50%;
}

.cartDeliveryConfirmation {
    display: flex;
    justify-content: flex-end;
    padding: 0px 25px 0px 25px;
}

.cartDeliveryConfirmationBox {
    width: 100%;
    border-radius: 5px;
    background-color: #e3e3e3;
    padding: 10px;
    font-size: 12px;
}

.cartWholePrice {
    align-items: flex-end;
}

.paymentProviders {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #45A29E 1px solid;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 0 10px #45A29E;
    height: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.paymentProviders:hover {
    border: black 1px solid;
    box-shadow: 0 0 10px black;
}