.cartFormInput {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px 10px 0px;
}

.cartFormInputData {
    margin-left: 10px;
    width: 250px;
}

.cartFormLabel {
    display: flex;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.cartNext {
    display: flex;
    justify-content: flex-end;
}

.cartLast {
    display: flex;
    justify-content: flex-start;
}

.cartLastNext {
    display: flex;
}