@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

.bottomi {
   font-family: 'Syne Mono', monospace;
   background-color: #0B0C10;
   color: #66FCF1;
}

h4 {
   color:whitesmoke;
}

.ikonit {
   padding: 10px;
   color: #66FCF1;
}

.ikonit:hover {
   color: #45A29E;
}

.viiva {
   border: 4px solid #66FCF1;
   margin: 30px -15px 20px;
}

ul {
   list-style: none;
}

li {
   padding-bottom: 1em;
   
}

.linkText {
   color: #66FCF1;
}

.linkText:hover {
   color: #45A29E;
}

.email {
   color: #66FCF1;
}

.email:hover {
   color: #45A29E;
}