.col-centered{
    margin: 0 auto;
    float: none;
}

.register {
    color: #45A29E ;
 }
 
 .register:hover {
    color: #66FCF1;
 }

    .logga:link, .logga:visited {
        background-color: #66FCF1;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 2px;
      }
      
      .logga:hover, .logga:active {
        background-color: #45A29E;
        color: white;
      }
