.productRow {
  margin: 0 auto;
  display: grid;
  grid-gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  grid-auto-rows: minmax(13rem, auto);
  justify-content: center;
}

.productListArrang {
  width: 250px !important;
}

.productListing {
  display: flex;
  justify-content: flex-end;
  margin-right: 88px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .productListing {
    margin-right: 5px;
  }
}

.productArrangement {
  display: flex;
  justify-content: center;
  font-size: 14px;
}
