@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');

.text {
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    text-align: center;
}

.price {
    display: flex;
    font-family: 'Rajdhani', sans-serif;
    font-size: 22px;
    justify-content: center;
}

.moreData {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 100;
    background-color: white;
    width: 100%;
    padding: 0;
    top: 97%;
    height: 80px;
    border: none;
    box-shadow: -5px 5px 3px grey, 5px 5px 3px grey;
    border-radius: 0px 0px 10px 10px;
}

.productCard {
    width: 13rem;
    border: none;
}

.productCard {
    width: 13rem;
}

.productCard:hover {
    box-shadow: 5px -5px 3px grey, -5px -5px 3px grey;
}

.addToCart {
    margin-top: 20px;
    width: 175px;
    height: 50px;
    color: #1F2833; 
    background-color: #66FCF1;
    border-color: #66FCF1;
    font-weight: 500;
    font-family: 'Rajdhani', sans-serif;
}

.addToCart:hover {
    background-color: #45A29E;
    border-color: #45A29E;
}

.productCardMoreData {
    font-family: 'Rajdhani', sans-serif;
}

.productCardTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 !important;
}

.productCardTitleText {
    padding: 0px 0px 10px 0px !important;
}

.productItemImageSize {
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
}