.groups {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.productGroups {
    background-color: grey;
    margin-bottom: 0;
    text-align: center;
    width: 200px;
    background-color: #45A29E;
    padding: 5px;
}

.groupsButton {
    text-align: left;
    background-color: white;
    font-size: 18px;
    padding: 5px;

    font-family: Arial;
    border: none;
}
.groupsButton:hover {
    background-color: #66FCF1;
}